alphas = np.linspace(0.001,15,20)
scores=[]
for v in alphas:
    lasso = Lasso(alpha=v)
    lasso.fit(X_train,y_train)
    y_pred = lasso.predict(X_test)
    scr = r2_score(y_test,y_pred)
    scores.append(scr)
    print("Alpha=",v,"R2 =",scr)

The way we did above code using loop can be achived using GridSearchCV as well

In [13]:
import numpy as np
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import GridSearchCV,cross_val_score
import os
os.chdir("/Users/darshmac/Documents/cdac/For DBDA/Advance Analytics/Datasets")

In [5]:
boston = pd.read_csv("Boston.csv")
X = boston.drop('medv',axis=1)
y = boston['medv']

In [8]:
kfold = KFold(n_splits=5,shuffle=True,random_state=23)
alphas = np.linspace(0.001,15,20)
ridge = Ridge()
param = {'alpha' : alphas}
gcv = GridSearchCV(ridge,param_grid=param,cv = kfold)
gcv.fit(X,y)
print(gcv.best_params_)
print(gcv.best_score_)

{'alpha': 0.001}
0.7185765190852423

In [12]:
lasso = Lasso()
param = {'alpha' : alphas}
gcv = GridSearchCV(lasso,param_grid=param,cv = kfold)
gcv.fit(X,y)
print(gcv.best_params_)
print(gcv.best_score_)

{'alpha': 0.001}
0.7185811395066943

In [14]:
alphas = np.linspace(0.001,12,20)
l1_s = np.linspace(0,1,10)
params = {'alpha':alphas,
         'l1_ratio':l1_s}
elas = ElasticNet()
gcv = GridSearchCV(elas,param_grid=param,cv = kfold)
gcv.fit(X,y)
print(gcv.best_params_)
print(gcv.best_score_)

{'alpha': 0.001}
0.7185944931838284

## Salary

In [15]:
sal = pd.read_csv("Salaries.csv")
sal

         rank discipline  yrs.since.phd  yrs.service   sex  salary
0        Prof          B             19           18  Male  139750
1        Prof          B             20           16  Male  173200
2    AsstProf          B              4            3  Male   79750
3        Prof          B             45           39  Male  115000
4        Prof          B             40           41  Male  141500
..        ...        ...            ...          ...   ...     ...
392      Prof          A             33           30  Male  103106
393      Prof          A             31           19  Male  150564
394      Prof          A             42           25  Male  101738
395      Prof          A             25           15  Male   95329
396  AsstProf          A              8            4  Male   81035

[397 rows x 6 columns]

In [16]:
dum_sal = pd.get_dummies(sal,drop_first=True)

In [18]:
X = dum_sal.drop('salary',axis=1)
y = dum_sal['salary']

In [26]:
kfold = KFold(n_splits=5,shuffle=True,random_state=23)

In [30]:
alphas = np.linspace(0.001,15,200)
ridge = Ridge()
param = {'alpha' : alphas}
gcv = GridSearchCV(ridge,param_grid=param,cv = kfold)
gcv.fit(X,y)
print(gcv.best_params_)
print(gcv.best_score_)

{'alpha': 0.001}
0.4413504071837222

In [28]:
lasso = Lasso()
param = {'alpha' : alphas}
gcv = GridSearchCV(lasso,param_grid=param,cv = kfold)
gcv.fit(X,y)
print(gcv.best_params_)
print(gcv.best_score_)

{'alpha': 0.001}
0.44135043154768655

In [29]:
alphas = np.linspace(0.001,12,20)
l1_s = np.linspace(0,1,10)
params = {'alpha':alphas,
         'l1_ratio':l1_s}
elas = ElasticNet()
gcv = GridSearchCV(elas,param_grid=param,cv = kfold)
gcv.fit(X,y)
print(gcv.best_params_)
print(gcv.best_score_)

{'alpha': 0.001}
0.44134365690056254