alphas = np.linspace(0.001,15,20)
scores=[]
for v in alphas:
    lasso = Lasso(alpha=v)
    lasso.fit(X_train,y_train)
    y_pred = lasso.predict(X_test)
    scr = r2_score(y_test,y_pred)
    scores.append(scr)
    print("Alpha=",v,"R2 =",scr)

The way we did above code using loop can be achived using GridSearchCV as well

In [13]:
import numpy as np
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import GridSearchCV,cross_val_score
import os
os.chdir("/Users/darshmac/Documents/cdac/For DBDA/Advance Analytics/Datasets")

In [5]:
boston = pd.read_csv("Boston.csv")
X = boston.drop('medv',axis=1)
y = boston['medv']

In [8]:
kfold = KFold(n_splits=5,shuffle=True,random_state=23)
alphas = np.linspace(0.001,15,20)
ridge = Ridge()
param = {'alpha' : alphas}
gcv = GridSearchCV(ridge,param_grid=param,cv = kfold)
gcv.fit(X,y)
print(gcv.best_params_)
print(gcv.best_score_)

{'alpha': 0.001}
0.7185765190852423

In [12]:
lasso = Lasso()
param = {'alpha' : alphas}
gcv = GridSearchCV(lasso,param_grid=param,cv = kfold)
gcv.fit(X,y)
print(gcv.best_params_)
print(gcv.best_score_)

{'alpha': 0.001}
0.7185811395066943

In [14]:
alphas = np.linspace(0.001,12,20)
l1_s = np.linspace(0,1,10)
params = {'alpha':alphas,
         'l1_ratio':l1_s}
elas = ElasticNet()
gcv = GridSearchCV(elas,param_grid=param,cv = kfold)
gcv.fit(X,y)
print(gcv.best_params_)
print(gcv.best_score_)

{'alpha': 0.001}
0.7185944931838284

## Salary

In [15]:
sal = pd.read_csv("Salaries.csv")
sal

         rank discipline  yrs.since.phd  yrs.service   sex  salary
0        Prof          B             19           18  Male  139750
1        Prof          B             20           16  Male  173200
2    AsstProf          B              4            3  Male   79750
3        Prof          B             45           39  Male  115000
4        Prof          B             40           41  Male  141500
..        ...        ...            ...          ...   ...     ...
392      Prof          A             33           30  Male  103106
393      Prof          A             31           19  Male  150564
394      Prof          A             42           25  Male  101738
395      Prof          A             25           15  Male   95329
396  AsstProf          A              8            4  Male   81035

[397 rows x 6 columns]

In [16]:
dum_sal = pd.get_dummies(sal,drop_first=True)

In [18]:
X = dum_sal.drop('salary',axis=1)
y = dum_sal['salary']

In [26]:
kfold = KFold(n_splits=5,shuffle=True,random_state=23)

In [30]:
alphas = np.linspace(0.001,15,200)
ridge = Ridge()
param = {'alpha' : alphas}
gcv = GridSearchCV(ridge,param_grid=param,cv = kfold)
gcv.fit(X,y)
print(gcv.best_params_)
print(gcv.best_score_)

{'alpha': 0.001}
0.4413504071837222

In [28]:
lasso = Lasso()
param = {'alpha' : alphas}
gcv = GridSearchCV(lasso,param_grid=param,cv = kfold)
gcv.fit(X,y)
print(gcv.best_params_)
print(gcv.best_score_)

{'alpha': 0.001}
0.44135043154768655

In [32]:
#alphas = np.linspace(0.001,12,20)
alphas = np.arange(0.001,1,0.001)
l1_s = np.linspace(0,1,10)
params = {'alpha':alphas,
         'l1_ratio':l1_s}
elas = ElasticNet()
gcv = GridSearchCV(elas,param_grid=param,cv = kfold)
gcv.fit(X,y)
print(gcv.best_params_)
print(gcv.best_score_)

{'alpha': 0.001}
0.44134365690056254

In [33]:
pd_cv = pd.DataFrame(gcv.cv_results_)

In [35]:
#here we can see test score for each split with respect to each alpha
#ignore 1st four column for time being 
pd_cv

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.004193,0.000547,0.002313,0.000304,0.001,{'alpha': 0.001},0.372923,0.451339,0.446852,0.469457,0.466147,0.441344,0.035262,1
1,0.003003,0.000269,0.001789,0.000258,0.076372,{'alpha': 0.07637185929648242},0.380686,0.455404,0.438003,0.445348,0.439051,0.431699,0.026246,2
2,0.003126,0.000347,0.001929,0.000345,0.151744,{'alpha': 0.15174371859296484},0.377119,0.447142,0.423911,0.418335,0.408928,0.415087,0.022784,3
3,0.002679,0.000023,0.001596,0.000006,0.227116,{'alpha': 0.22711557788944725},0.369791,0.435803,0.409170,0.393280,0.381579,0.397925,0.022985,4
4,0.002686,0.000032,0.001615,0.000028,0.302487,{'alpha': 0.3024874371859297},0.361399,0.424182,0.395232,0.371100,0.357799,0.381942,0.024833,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0.002587,0.000030,0.001614,0.000028,14.698513,{'alpha': 14.698512562814072},0.220307,0.248359,0.201828,0.149999,0.099716,0.184042,0.052987,196
196,0.002576,0.000031,0.001594,0.000007,14.773884,{'alpha': 14.773884422110553},0.220250,0.248242,0.201712,0.150006,0.099591,0.183960,0.052981,197
197,0.002568,0.000012,0.001618,0.000052,14.849256,{'alpha': 14.849256281407037},0.220193,0.248126,0.201596,0.150013,0.099468,0.183879,0.052976,198
198,0.002566,0.000011,0.001605,0.000015,14.924628,{'alpha': 14.924628140703518},0.220136,0.248010,0.201481,0.150020,0.099345,0.183799,0.052971,199
199,0.002564,0.000003,0.001601,0.000009,15.0,{'alpha': 15.0},0.220079,0.247896,0.201366,0.150028,0.099224,0.183719,0.052965,200