# Train Test Split

In [1]:
import pandas as pd

In [3]:
import os
os.chdir("/Users/darshmac/Documents/cdac/For DBDA/Advance Analytics/Datasets")

In [4]:
insure = pd.read_csv("Insure_auto.csv",index_col=0)
insure

        Home  Automobile  Operating_Cost
Branch
B01      400        1200          124000
B02      350         360           71000
B03      600         800          136000
B04      800        1800          219000
B05      900        1600          230000
B06      200        1000           75000
B07      120         900           56000
B08      340        1100          110000
B09      490         900          120000
B10      700         800          144000

In [20]:
#ins_train = insure.iloc[[1,4,5,7,2,9,3],:]
#ins_test = insure.iloc[[6,0,8],:]

In [21]:
from sklearn.model_selection import train_test_split

In [43]:
ins_train,ins_test = train_test_split(insure,test_size=0.3,random_state=69,shuffle=True)

In [37]:
X_train = ins_train[['Home','Automobile']].values
y_train = ins_train['Operating_Cost'].values

In [38]:
X_test = ins_test[['Home','Automobile']].values
y_test = ins_test['Operating_Cost'].values

In [39]:
print(X_train.shape, y_train.shape)
print(X_test.shape,y_test.shape)

(7, 2) (7,)
(3, 2) (3,)

In [40]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [41]:
lr = LinearRegression()
lr.fit(X_train,y_train)
y_pred = lr.predict(X_test)

In [42]:
print(r2_score(y_test,y_pred))

0.9442550815141393